<h1 id="tableLabel">Jobs and best matched candidate</h1>

<p *ngIf="!JobWithCandidates"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="JobWithCandidates">
  <thead>
    <tr>
      <th>Company</th>
      <th>Job</th>
      <th>Candidate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jobWithCandidate of JobWithCandidates">
      <td>{{ jobWithCandidate.job.company }}</td>
      <td>{{ jobWithCandidate.job.name }} - {{ jobWithCandidate.job.jobId }}<br /><i>{{ jobWithCandidate.job.skills }}</i></td>
      <td>{{ jobWithCandidate.candidate.name }} - {{ jobWithCandidate.candidate.candidateId }}<br /><i>{{ jobWithCandidate.candidate.skillTags }}</i></td>
    </tr>
  </tbody>
</table>
